{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="account_container">
    <div class="account_body">
        <div class="login_header">
            <h1>Update profile</h1>
        </div>
        <form action="/update_profile" method="POST">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    value="{{ current_user.email }}" required>
                <br/>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="username" 
                    name="username" 
                    value="{{ current_user.username }}" required>
                <br/>
            </div>
            <div class="form-group">
                <label for="current_password">Current password:</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="current_password" 
                        name="current_password" 
                        placeholder="Enter current password" autocomplete="off">
                <br/>
            </div>
            <div class="form-group">
                <label for="password">New password:</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="password" 
                        name="password" 
                        placeholder="Enter new password" autocomplete="off">
                <br/>
            </div>
            <div class="form-group">
                <label for="confirm_password">Password (Confirm)</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="confirm_password" 
                        name="confirm_password" 
                        placeholder="Confirm password" autocomplete="off">
                <br/>
            </div>
            <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form> 
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% endblock %}

