{% extends 'base.html' %}

{% block title %}Garages{% endblock %}

{% block content %}
<div class="cart_container">
    <div class="cart_head">
        <h1>Cart</h1>
    </div>
    <!-- Display cart -->
    {% if not spot %}
    <p>Your cart is currently empty.</p>
    {% else %}
    <div class="card text-center">
        <div class="card-header">
            Reserved Spot
        </div>
    <div class="card-body">
        <h5 class="card-title">Spot numer: {{ spot.number }}</h5>
        <p class="card-text">Reservation Date: {{ spot.reservation_date }}</p>
        <p class="card-text">Price: ${{ spot.price }}.00</p>
    </div>
    </div>
    {% endif %}
    {% if spot.price == 30 %}
    <form action="/create_checkout_session" method="POST">
        <input type="hidden" name="product_id" value="prod_PyXS1qmP2S8xev">
        <input type="hidden" name="price_id" value="price_1P8aNdCLh6RFSyLpLEtRt4Xl">
        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>
    {% else %}
    <form action="/create_checkout_session" method="POST">
        <input type="hidden" name="product_id" value="prod_PyXSkiKXnlacTs">
        <input type="hidden" name="price_id" value="price_1P8aNzCLh6RFSyLpS02m5kPr">
        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>
    {% endif %}
</div>
{% endblock %}




