<!-- cart.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parking Garage Simulator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <style>
            .spot-card {
                margin: 5px;
            }
            .spot-body {
                text-align: center;
            }
            .available {
                background-color: #28a745;
                color: white;
            }
            .unavailable {
                background-color: #dc3545;
                color: white;
            }
        </style>
    </head>
<body>
    {% include "head.html" %}
    <h1>Cart</h1>
    <!-- Display cart contents here -->
    {% if not spot %}
    <p>Your cart is currently empty.</p>
    
    {% else %}
    <!-- Add checkout button -->
    <p>You have reserved spot #{{spot.id}} for {{'${:,.2f}'.format(spot.price)}}</p>
    <form action="{{ url_for('checkout') }}" method="post">
        <button type="submit">Checkout</button>
    </form>
    {% endif %}
</body>
</html>
