<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ garage.name }}</title>
</head>

<body>
    <h1>{{ garage.name }}</h1>
    <p>Location: {{ garage.location }}</p>

    <h2>Parking Spaces:</h2>
    <ul>
        {% for space in garage.spaces %}
        <li>Space {{ space.number }} - Price: ${{ space.price }} - Availability: {% if space.availability %}Available{%
            else %}Not Available{% endif %}</li>
        {% endfor %}
    </ul>
</body>

</html>