{% extends 'base.html' %}

{% block title %}Garages{% endblock %}

{% block content %}
<div class="container">
    <div id="searchResults">
        {% if search_results %}
        <h1>Garages:</h1>
        <ul>
            {% for garage in search_results %}
            <div class="garage-container" onclick="window.location='/garage/{{ garage.id }}';">
                <li>
                    <br>
                    <strong>{{ garage.name }}</strong>
                    <br>
                    <strong>Location: {{ garage.location }}</strong>
                    <br>
                    <strong></strong>
                    <br>
                </li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

