{% extends 'base.html' %}

{% block title %}MyGarage{% endblock %}

{% block content %}


<div class="main__container">
  <div class="main__content">
    <h1>Reserve parking now</h1>
        <div class="search__container">
            <form id="searchForm" action="/search" method="GET">
                <input type="text" id="locationInput" name="location" placeholder="Enter location">
                <input type="hidden" id="hiddenLocation" name="hiddenLocation">
                <button class="btn btn-primary" type="submit">Find Parking</button>
            </form>
        </div>
  </div>
</div>


<!-- Services -->
<div class="main__container">
    <h2>Daily Parking Rates</h2>
    <div class="services__container">
    <div class="card text-center">
        <div class="card-header">
          Weekday Parking
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Park for $30/Day</strong></h5>
          <p class="card-text" style="font-size: 20px;">Search for a garage near you.</p>
        </div>
        <div class="card-footer text-muted">
          {% if current_user.is_authenticated %}
        </br>
          {% else %}
          <a href="/login" class="btn btn-primary">Login to get started</a>
          {% endif %}
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
          Weekend Parking
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Park for $50/Day</strong></h5>
          <p class="card-text" style="font-size: 20px;">Search for a garage near you.</p>
        </div>
        <div class="card-footer text-muted">
          {% if current_user.is_authenticated %}
        </br>
          {% else %}
          <a href="/login" class="btn btn-primary">Login to get started</a>
          {% endif %}
        </div>
      </div>
    </div>
</div>

{% endblock %}
