<!DOCTYPE html>
<html>

<head>
  <title>Brave Rats</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <style>
    
  </style>
</head>

<body>
    <div class="container ">
        <div class="row">            
            <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
                 <div class="login-title text-center">
                        <h2><span>My<strong>Garage</strong></span></h2>
                 </div>
                <div class="login-content">
                    <div class="login-header ">
                        <h3><strong>Sign up for MyGarage</strong></h3>
                        
                    </div>
                    <div class="login-body">
                        <form role="form" action="/signup" method="post" class="login-form">
                            <div class="form-group ">
                                {{ form.hidden_tag() }}
                                <div class="pos-r">
                                    {% if form.email.errors %}
      <ul class="form-group text-left errors">{% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}     
                                    {{ form.email(id="form-username",placeholder="Email...",class_="form-username form-control") }}                                   
                                    
                                    <i class="fa fa-user"></i>
                                </div>
                                
                                
                            </div>
                            <div class="form-group ">
                                <div class="pos-r">    
                                    {% if form.username.errors %}
      <ul class="form-group text-left errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}    
                                    {{ form.username(id="form-username",placeholder="Username...",class_="form-username form-control") }}                                   
                                    
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <div class="pos-r"> 
                                    {% if form.password.errors %}
      <ul class="form-group text-left errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}       
                                    {{ form.password(id="form-password",type="password",placeholder="Password...",class_="form-password form-control") }}                               
                                    
                                    <i class="fa fa-lock"></i>                                        
                                </div>
                                <div class="pos-r">     
                                    {{ form.confirmPassword(id="form-password",type="password",placeholder="Confirm Password...",class_="form-password form-control") }}                               
                                    
                                    <i class="fa fa-lock"></i>                                        
                                </div>
                            </div>
                             

                            <div class="form-group">     
                                
                                <button name={{form.submit.name}} type="submit" class="btn btn-primary form-control"><strong>Sign up</strong></button>  
                            </div>   
                                                                          
                        </form>
                    </div> <!-- end  login-body -->                     
                </div><!-- end  login-content -->  
                <div class="login-footer text-center template">
                    <h5>Already have an account?<a href="/login" class="bold"> Sign in </a>     </h5>
               
                </div>
            </div>  <!-- end  login-container -->      

        </div>
    </div><!-- end container -->
</body>

</html>