{% extends 'base.html' %}

{% block title %}MyVehicles{% endblock %}

{% block content %}
<!-- Vehicle nav bar -->
<div class="vehicle_container">
    <div class="card text-center" style="width: 100%";>
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/vehicles/default">Default vehicle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vehicles/add">Add vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/vehicles">Manage vehicles</a>
              </li>
          </ul>
        </div>
        <!-- Display vehicles -->
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Vehicle Model</th>
                        <th>License Plate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles %}
                    <tr>
                        <td>{{ vehicle.vehicle_model }}</td>
                        <td>{{ vehicle.license_plate }}</td>
                        <td>
                            <a href="/vehicles?delete_vehicle_id={{ vehicle.id }}" class="btn btn-danger">Delete</a>
                        </td>
                        <td>
                            <form action="/set_current_vehicle/{{ vehicle.id }}" method="POST">
                                <button class="btn btn-success">Set current vehicle</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
</div>

{% endblock %}
